* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.caja {
  border: 0px solid black; /* Aquí se define un borde sólido de 1px de ancho y color negro */
  padding: 10px; /* Aquí se agrega un espacio de relleno de 10 píxeles entre el borde y el contenido */
  background-color: rgba(255, 255, 255, 0.7); /* Aquí se define un color de fondo blanco con una opacidad del 70% */
  box-shadow: 2px 2px 4px rgba(0, 119, 255, 0.3); /* Aquí se agrega una sombra con un desplazamiento de 2px hacia la derecha y hacia abajo, un radio de 4px y un color negro con una opacidad del 30% */
  text-align: center; /* Aquí se centra el contenido del cuadro */

}


.caja2 {
  border: 0px solid black; /* Aquí se define un borde sólido de 1px de ancho y color negro */
  padding: 10px; /* Aquí se agrega un espacio de relleno de 10 píxeles entre el borde y el contenido */
  background-color: rgba(255, 255, 255, 0.7); /* Aquí se define un color de fondo blanco con una opacidad del 70% */
  box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.3); /* Aquí se agrega una sombra con un desplazamiento de 2px hacia la derecha y hacia abajo, un radio de 4px y un color negro con una opacidad del 30% */
  text-align: center; /* Aquí se centra el contenido del cuadro */
  width: auto; /* Aquí se establece el ancho de la caja al 100% del ancho de su contenedor */
  margin: 0 auto; /* Aquí se centra la caja horizontalmente en su contenedor */

}

.caja3 {
  border: 0px solid black; /* Aquí se define un borde sólido de 1px de ancho y color negro */
  padding: 10px; /* Aquí se agrega un espacio de relleno de 10 píxeles entre el borde y el contenido */
  background-color: rgba(255, 255, 255, 0.7); /* Aquí se define un color de fondo blanco con una opacidad del 70% */
  box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.3); /* Aquí se agrega una sombra con un desplazamiento de 2px hacia la derecha y hacia abajo, un radio de 4px y un color negro con una opacidad del 30% */
  text-align: center; /* Aquí se centra el contenido del cuadro */
  width: 100%; /* Aquí se establece el ancho de la caja al 100% del ancho de su contenedor */
  max-width: 1800px; /* Aquí se establece el ancho máximo de la caja a 800 píxeles */
  margin: 0 auto; /* Aquí se centra la caja horizontalmente en su contenedor */

}

/* Definir el tamaño de fuente de todos los títulos h1 */
h1 {
    display: flex;
    font-size: 50px;
    color: #000000; 
    margin: center;
  }
  
  /* Definir el tamaño de fuente de un título h2 utilizando ems */
  h2 {
    font-size: 110%;
    color: #000000;
    margin: center; 
  }
  
  /* Definir el tamaño de fuente de un título h3 utilizando porcentajes */
  h3 {
    font-size: 150%;
    color: #000000;
    margin: center;

  }
  

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000; 
    font-size: 150%;
    box-shadow: 4px 8px 8px rgba(255, 0, 0, 0.3); /* Aquí se agrega una sombra con un desplazamiento de 2px hacia la derecha y hacia abajo, un radio de 4px y un color negro con una opacidad del 30% */


  }
  
  .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
    font-size: 75%;

  }
  


  body {
    position: relative;
    margin: auto;
  }
  .sect {
    width: 100%;
    min-height: 500px;
  }
  #sect1,
  #sect3 {
    background-color: #3333337d;
    color: #fff;
  }
  #sect2 {
    background-color: #dddddd7d;
    color: #333;
  }
  
  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 10%;
    min-height: 10%;
    transform: translateX(calc((10% - 10vw) / 2));
    z-index: -2;
  }
  h1 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }
  h2 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }

/*FONDO VIDEO
  
  /* Definir diferentes tamaños de margen en diferentes lados utilizando valores separados por espacios */
  body {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 200px;
    margin-left: 50px;
  }
  



.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 400px;
}

p {
    margin: 15px 15px;
}

/**/

.landing {
    text-align: center;
}

.scoresHeader {
    position: absolute;
    top: 15px;
    left: 15px;
}

.timer {
    position: absolute;
    top: 0px;
    right: 15px;
}

.barra {
  width: 100;
  height: 70px;
  background-color: #0077CC;
  border-radius: 0px;
  box-shadow: 10px 10px 5px #888888;
}



button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #515052;
    border-radius: 5px;
    border: 0;
    padding: 20px;
}

button:hover {
    background-color: #9e99a1;
}

.options button {
    display: block;
}

input[type="text"] {
    font-size: 125%;
}

.hide {
    display: none;
}

.feedback {
    font-style: bold;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 15px;
    color: rgb(231, 231, 231);
    border-top: 2px solid #4B0082;
}


body {
    background-color: rgb(153, 255, 238);

}
  
h3 {
    text-align: center;
  }


  #timer {
    display: flex;
    justify-content: right;
    align-items: right;
    font-size: 50px;
     color: rgb(255, 0, 0);
     font-weight: bold;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     margin-top: 20px;
     margin-right: 10px;
     margin-bottom: 200px;
     margin-left: 10px;
  }
  #timer {
    /* Estilos adicionales para el elemento idtimer si es necesario */
  }


ol {
    padding-left: 15px;
    max-height: 600px;
    overflow: auto;
}
  
  li {
    padding: 5px;
    list-style: decimal inside none;
}
  
  li:nth-child(odd) {
    background-color: #dfdae7;
}

/* This will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {

}

/* This will be applied on any screen smaller than 575px */
@media screen and  (max-width: 575px) {

}